AztecProgressAnimFrame00	BITMAP	frame00.bmp
AztecProgressAnimFrame01	BITMAP	frame01.bmp
AztecProgressAnimFrame02	BITMAP	frame02.bmp
AztecProgressAnimFrame03	BITMAP	frame03.bmp
AztecProgressAnimFrame04	BITMAP	frame04.bmp
AztecProgressAnimFrame05	BITMAP	frame05.bmp
AztecProgressAnimFrame06	BITMAP	frame06.bmp
AztecProgressAnimFrame07	BITMAP	frame07.bmp
AztecProgressAnimFrame08	BITMAP	frame08.bmp
AztecProgressAnimFrame09	BITMAP	frame09.bmp
AztecProgressAnimFrame10	BITMAP	frame10.bmp
AztecProgressAnimFrame11	BITMAP	frame11.bmp
AztecProgressAnimFrame12	BITMAP	frame12.bmp
AztecProgressAnimFrame13	BITMAP	frame13.bmp
AztecProgressAnimFrame14	BITMAP	frame14.bmp
AztecProgressAnimFrame15	BITMAP	frame15.bmp
AztecProgressAnimFrame16	BITMAP	frame16.bmp
AztecProgressAnimFrame17	BITMAP	frame17.bmp
AztecProgressAnimFrame18	BITMAP	frame18.bmp
AztecProgressAnimFrame19	BITMAP	frame19.bmp
AztecProgressAnimFrame20	BITMAP	frame20.bmp
AztecProgressAnimFrame21	BITMAP	frame21.bmp
AztecProgressAnimFrame22	BITMAP	frame22.bmp
AztecProgressAnimFrame23	BITMAP	frame23.bmp
AztecProgressAnimFrame24	BITMAP	frame24.bmp
AztecProgressAnimFrame25	BITMAP	frame25.bmp
