<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="url" value="http://localhost:50004"/>
        <add key="rootPath" value="C:\Program Files (x86)\Zonal\Aztec\Apache\htdocs\EventStatus"/>
        <add key="virtualPath" value="/Aztec/EventPricing/"/>
        <add key="logPath" value="C:\Program Files (x86)\Zonal\Aztec\Log\AztecEventPricingService.log"/>
    </appSettings>
</configuration>