16X16_BARCODEREADER     	BITMAP                  "16x16_BarcodeReader.bmp"
16X16_COINDISPENSER     	BITMAP                  "16x16_CoinDispenser.bmp"
16X16_CONQUEROR         	BITMAP                  "16x16_Conqueror.bmp"
16X16_HOTELSYSTEM       	BITMAP                  "16x16_HotelSystem.bmp"
16X16_HANDHELD          	BITMAP                  "16x16_HandHeld.bmp"
16X16_I700              	BITMAP                  "16x16_i700.bmp"
16X16_IBM551            	BITMAP                  "16x16_IBM551.bmp"
16X16_IPPRINTER         	BITMAP                  "16x16_IPPrinter.bmp"
16X16_PINPAD            	BITMAP                  "16x16_PinPad.bmp"
16X16_PINPADWITHPRINTER 	BITMAP                  "16x16_PinPadWithPrinter.bmp"
16X16_PRINTER           	BITMAP                  "16x16_Printer.bmp"
16X16_SCALES            	BITMAP                  "16x16_Scales.bmp"
16X16_SERVERGROUP       	BITMAP                  "16x16_ServerGroup.bmp"
16X16_TEXTINSERTER     		BITMAP                  "16x16_TextInserter.bmp"
16X16_Z300              	BITMAP                  "16x16_Z300.bmp"
16X16_Z400              	BITMAP                  "16x16_Z400.bmp"
16X16_Z500              	BITMAP                  "16x16_Z500.bmp"
16X16_KIOSK             	BITMAP                  "16x16_Kiosk.bmp"
16x16_XPPOS             	BITMAP                  "16x16_XPPOS.bmp"
16x16_MOA               	BITMAP                  "16x16_MOA.bmp"
16x16_EXTERNALAPIACCESS 	BITMAP                  "16x16_ExternalAPIAccess.bmp"
16x16_MOAORDERPAD       	BITMAP                  "16x16_MOAOrderPad.bmp"
16x16_MOAPAYATTABLE     	BITMAP                  "16x16_MOAPayAtTable.bmp"
16x16_iZoneTables       	BITMAP                  "16x16_iZoneTables.bmp"
16x16_ThirdParty        	BITMAP                  "16x16_ThirdParty.bmp"
16x16_ePurse            	BITMAP                  "16x16_ePurse.bmp"
16x16_IBMSurePOS500     	BITMAP                  "16x16_IBMSurePOS500.bmp"
16x16_IBMSurePOS514P126  	BITMAP                  "16x16_IBMSurePOS514.bmp"
16x16_IBMSurePOS532P126  	BITMAP                  "16x16_IBMSurePOS532.bmp"
16x16_SharpRZX750       	BITMAP                  "16x16_Sharp_RZ_X750.bmp"
16x16_SharpUPV5500      	BITMAP                  "16x16_Sharp_UP_V5500.bmp"
16x16_ToshibaTECSTA10		BITMAP					"16x16_ToshibaTECSTA10.bmp"
16x16_ToshibaTECSTA12		BITMAP					"16x16_ToshibaTECSTA12.bmp"
16x16_IBMSurePOS514P1238 	BITMAP                  "16x16_IBMSurePOS514.bmp"
16x16_IBMSurePOS532P1238 	BITMAP                  "16x16_IBMSurePOS532.bmp"
16x16_ToshibaTECSTA20		BITMAP					"16x16_ToshibaTECSTA20.bmp"
16x16_AzOne					BITMAP					"16x16_AzOne.bmp"
16x16_AzTab					BITMAP					"16x16_Aztab.bmp"
16x16_ZonalToshibaA12		BITMAP					"16x16_ZonalToshibaA12.bmp"
16x16_ZonalToshibaA20		BITMAP					"16x16_ZonalToshibaA20.bmp"
16x16_ZonalToshibaA30		BITMAP					"16x16_ZonalToshibaA30.bmp"
16x16_ZonalToshibaA10		BITMAP					"16x16_ZonalToshibaA10.bmp"
16X16_Z9              		BITMAP                  "16x16_Z9.bmp"
