Z32X32_XPPOS_ICON       ICON                    "32x32_XPPOS.ico"
Z32X32_HANDHELD_ICON    ICON                    "32x32_HandHeld.ico"
Z32X32_Z300_ICON        ICON                    "32x32_Z300.ico"
Z32X32_Z500_ICON        ICON                    "32x32_Z500.ico"
Z32X32_I700_ICON        ICON                    "32x32_i700.ico"
Z32X32_Z9_ICON       	ICON                   	"32x32_Z9.ico"