32X32_BARCODEREADER     	BITMAP                  "32x32_BarcodeReader.bmp"
32X32_COINDISPENSER     	BITMAP                  "32x32_CoinDispenser.bmp"
32X32_CONQUEROR         	BITMAP                  "32x32_Conqueror.bmp"
32X32_HOTELSYSTEM       	BITMAP                  "32x32_HotelSystem.bmp"
32X32_HANDHELD          	BITMAP                  "32x32_HandHeld.bmp"
32X32_I700              	BITMAP                  "32x32_i700.bmp"
32X32_IBM551            	BITMAP                  "32x32_IBM551.bmp"
32X32_IPPRINTER         	BITMAP                  "32x32_IPPrinter.bmp"
32X32_PINPAD            	BITMAP                  "32x32_PinPad.bmp"
32X32_PINPADWITHPRINTER 	BITMAP                  "32x32_PinPadWithPrinter.bmp"
32X32_PRINTER           	BITMAP                  "32x32_Printer.bmp"
32X32_SCALES            	BITMAP                  "32x32_Scales.bmp"
32X32_SERVERGROUP      		BITMAP                  "32x32_ServerGroup.bmp"
32X32_TEXTINSERTER      	BITMAP                  "32x32_TextInserter.bmp"
32X32_Z300              	BITMAP                  "32x32_Z300.bmp"
32X32_Z400              	BITMAP                  "32x32_Z400.bmp"
32X32_Z500              	BITMAP                  "32x32_Z500.bmp"
32X32_KIOSK            		BITMAP                  "32x32_Kiosk.bmp"
32X32_XPPOS             	BITMAP                  "32x32_XPPOS.bmp"
32X32_MOA               	BITMAP                  "32x32_MOA.bmp"
32x32_EXTERNALAPIACCESS 	BITMAP                  "32x32_ExternalAPIAccess.bmp"
32x32_MOAORDERPAD       	BITMAP                  "32x32_MOAOrderPad.bmp"
32x32_MOAPAYATTABLE     	BITMAP                  "32x32_MOAPayAtTable.bmp"
32x32_iZoneTables       	BITMAP                  "32x32_iZoneTables.bmp"
32x32_ThirdParty        	BITMAP                  "32x32_ThirdParty.bmp"
32x32_ePurse            	BITMAP                  "32x32_ePurse.bmp"
32x32_IBMSurePOS500     	BITMAP                  "32x32_IBMSurePOS500.bmp"
32x32_IBMSurePOS514P126 	BITMAP                  "32x32_IBMSurePOS514.bmp"
32x32_IBMSurePOS532P126  	BITMAP                  "32x32_IBMSurePOS532.bmp"
32x32_SharpRZX750       	BITMAP                  "32x32_Sharp_RZ_X750.bmp"
32x32_SharpUPV5500      	BITMAP                  "32x32_Sharp_UP_V5500.bmp"
32x32_ToshibaTECSTA10		BITMAP					"32x32_ToshibaTECSTA10.bmp"
32x32_ToshibaTECSTA12		BITMAP					"32x32_ToshibaTECSTA12.bmp"
32x32_IBMSurePOS514P1238 	BITMAP                  "32x32_IBMSurePOS514.bmp"
32x32_IBMSurePOS532P1238 	BITMAP                  "32x32_IBMSurePOS532.bmp"
32x32_ToshibaTECSTA20		BITMAP					"32x32_ToshibaTECSTA20.bmp"
32x32_AzOne					BITMAP					"32x32_AzOne.bmp"
32x32_AzTab					BITMAP					"32x32_AzTab.bmp"
32x32_ZonalToshibaA12		BITMAP					"32x32_ZonalToshibaA12.bmp"
32x32_ZonalToshibaA20		BITMAP					"32x32_ZonalToshibaA20.bmp"
32x32_ZonalToshibaA30		BITMAP					"32x32_ZonalToshibaA30.bmp"
32x32_ZonalToshibaA10		BITMAP					"32x32_ZonalToshibaA10.bmp"
32X32_Z9              		BITMAP                 "32x32_Z9.bmp"