ProgressWheel16_Frame00	ICON	frame00.ico
ProgressWheel16_Frame01	ICON	frame01.ico
ProgressWheel16_Frame02	ICON	frame02.ico
ProgressWheel16_Frame03	ICON	frame03.ico
ProgressWheel16_Frame04	ICON	frame04.ico
ProgressWheel16_Frame05	ICON	frame05.ico
ProgressWheel16_Frame06	ICON	frame06.ico
ProgressWheel16_Frame07	ICON	frame07.ico
ProgressWheel16_Frame08	ICON	frame08.ico
ProgressWheel16_Frame09	ICON	frame09.ico
ProgressWheel16_Frame10	ICON	frame10.ico
ProgressWheel16_Frame11	ICON	frame11.ico
ProgressWheel16_Frame12	ICON	frame12.ico
ProgressWheel16_Frame13	ICON	frame13.ico
ProgressWheel16_Frame14	ICON	frame14.ico
ProgressWheel16_Frame15	ICON	frame15.ico
ProgressWheel16_Frame16	ICON	frame16.ico
ProgressWheel16_Frame17	ICON	frame17.ico
ProgressWheel16_Frame18	ICON	frame18.ico
ProgressWheel16_Frame19	ICON	frame19.ico
ProgressWheel16_Frame20	ICON	frame20.ico
ProgressWheel16_Frame21	ICON	frame21.ico
ProgressWheel16_Frame22	ICON	frame22.ico
ProgressWheel16_Frame23	ICON	frame23.ico
ProgressWheel16_Frame24	ICON	frame24.ico
ProgressWheel16_Frame25	ICON	frame25.ico
