LoadClockoutTicketFooterData		TEXT	LoadClockoutTicketFooterData.sql
SaveClockoutTicketFooterData		TEXT	SaveClockoutTicketFooterData.sql
DropClockoutTicketFooterData		TEXT	DropClockoutTicketFooterData.sql