ProgressWheel32_Frame00	ICON	frame00.ico
ProgressWheel32_Frame01	ICON	frame01.ico
ProgressWheel32_Frame02	ICON	frame02.ico
ProgressWheel32_Frame03	ICON	frame03.ico
ProgressWheel32_Frame04	ICON	frame04.ico
ProgressWheel32_Frame05	ICON	frame05.ico
ProgressWheel32_Frame06	ICON	frame06.ico
ProgressWheel32_Frame07	ICON	frame07.ico
ProgressWheel32_Frame08	ICON	frame08.ico
ProgressWheel32_Frame09	ICON	frame09.ico
ProgressWheel32_Frame10	ICON	frame10.ico
ProgressWheel32_Frame11	ICON	frame11.ico
ProgressWheel32_Frame12	ICON	frame12.ico
ProgressWheel32_Frame13	ICON	frame13.ico
ProgressWheel32_Frame14	ICON	frame14.ico
ProgressWheel32_Frame15	ICON	frame15.ico
ProgressWheel32_Frame16	ICON	frame16.ico
ProgressWheel32_Frame17	ICON	frame17.ico
ProgressWheel32_Frame18	ICON	frame18.ico
ProgressWheel32_Frame19	ICON	frame19.ico
ProgressWheel32_Frame20	ICON	frame20.ico
ProgressWheel32_Frame21	ICON	frame21.ico
ProgressWheel32_Frame22	ICON	frame22.ico
ProgressWheel32_Frame23	ICON	frame23.ico
ProgressWheel32_Frame24	ICON	frame24.ico
ProgressWheel32_Frame25	ICON	frame25.ico

